.dialog {
    margin-bottom: 15px;
}

.dialog a {
    color: #fff;
    display: flex;
    align-items: center;
}
.dialog a img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
}

.dialog a.active {
    color: gold;
}